/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */

table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
  border: 1px solid #ccc;
}

tr:nth-child(2n) {
  background-color: #dddddd;
}
